%form{:action => "/admin", :method => "POST"}
  %input{:placeholder => "username"}
  %br
  %input{:placeholder => "password", :type => "password"}
  %br
  %input{:value => "Prove that you're a Player", :type => "submit" }

  %br
  %a{:href => "/admin/dashboard"} Temporary shortcut to dashboard
