.row
  %form{"accept-charset" => "utf-8", :action => route, :method => action}
    .columns-6
      %label{:for => "title"} Title:
      %input#title{:name => "front_view[title]", :type => "text", :value => @front_view.title}/
    .columns-6
      %label{:for => "description"} Description:
      %input#description{:name => "front_view[description]", :type => "text", :value => @front_view.description}/
    .columns-6
      %label{:for => "image_file"} Image File:
      %input#image_file{:name => "front_view[image_file]", :type => "text", :value => @front_view.image_file}/
    .columns-12
      %button{:type => "submit"} Save Front View
