%div{:align => "center"}
  %object{:height => "420", :width => "840"}
    %param{:name => "movie", :value => "http://www.embeddablegames.net/embedgames/angry.swf"}
      %param{:name => "quality", :value => "high"}
        %embed{:height => "400", :pluginspage => "http://www.macromedia.com/go/getflashplayer", :quality => "high", :src => "http://www.embeddablegames.net/embedgames/angry.swf", :type => "application/x-shockwave-flash", :width => "640"}
  %br/
%p/
