%form{:action => "/login", :method => "POST"}
  %input{:name => "user", :type => "text", :placeholder => "username"}
  %br
  %input{:name => "password", :type => "password", :placeholder => "password"}
  %br
  %input{:value => "Prove that you're a real Player", :type => "submit" }

  %br
  %a{:href => "/admin/dashboard"} Temporary shortcut to dashboard
