#header
  #branding
    #blog-title
      %span
        %a{:href => "/", :rel => "home", :title => "HOME"} Players Clothing
    #preNavCTA
      %p
        %a.mvpClubIcon{:href => "/mvp_club"}>
        Join the
        %a{:href => "/mvp_club"} Players M.V.P. Club
        and SAVE $25.00
        |
        = succeed "See" do
          %a.lineupIcon{:href => "outfit_of_the_week", :title => "playersclothing.com/whats-news"}
        our
        %a{:href => "/outfit_of_the_week", :title => "playersclothing.com/whats-new"} Starting Lineup
        |
        = succeed "Read" do
          %a.fanTalkIcon{:href => "/blog", :title => "playersclothing.com/blog"}
        the latest
        %a{:href => "/blog", :title => "playersclothing.com/blog"} Fan Talk
    / class="brandingRightJustified"
  / #branding
  #access
    .skip-link
      %a{:href => "#content", :title => "Skip navigation to the content"} Skip to content
    / .skip-link
    .menu
      %ul.sf-menu
        %li.page_item.page-item-4.current_page_item
          %a{:href => "/"} HOME
        %li.page_item.page-item-8
          %a{:href => "/who_we_are"} WHO WE ARE
        %li.page_item.page-item-10
          %a{:href => "/what_we_carry"} WHAT WE CARRY
        %li.page_item.page-item-12
          %a{:href => "/what_we_do"} WHAT WE DO
        %li.page_item.page-item-14
          %a{:href => "/outfit_of_the_week"} WHAT’S NEW
          %ul.children
            %li.page_item.page-item-352
              %a{:href => "/outfit_of_the_week"} OUTFIT OF THE WEEK
        %li.page_item.page-item-16
          %a{:href => "/gift_cards"} GIFT CARDS
        %li.page_item.page-item-18
          %a{:href => "/find_us"} FIND US
        %li.page_item.page-item-25
          %a{:href => "/blog"} BLOG
        %li.page_item.page-item-25
          - if session[:user] == "player"
            %a{:href => "/logout"} LOGOUT
          - else
            %a{:href => "/login"} LOGIN
        %li.page_item.page-item-25
          - if session[:user] == "player"
            %a{:href => "/admin/update_dashboard"} DASHBOARD
    #socialLayout
      %a{:href => "https://www.facebook.com/pages/Players-Clothing/218109244866620", :target => "_blank", :title => "facebook.com"}
        %img{:alt => "Facebook", :height => "27", :src => "http://playersclothing.com/wp-content/themes/playersclothing/images/facebook-logo.png", :width => "27"}/
      %a{:href => "http://pinterest.com/playersclothing/boards/", :target => "_blank", :title => "pinterest.com"}
        %img{:alt => "Pinterest", :height => "27", :src => "http://playersclothing.com/wp-content/themes/playersclothing/images/pinterest-logo.png", :width => "27"}/
      %a{:href => " https://twitter.com/playerslodo", :target => "_blank", :title => "twitter.com"}
        %img{:alt => "Twitter", :height => "27", :src => "http://playersclothing.com/wp-content/themes/playersclothing/images/twitter-logo.png", :width => "27"}/
  / #access
/ #header
