%meta{:content => "index,follow", :name => "robots"}/
%link{:href => "http://playersclothing.com/", :rel => "canonical"}/
%link{:href => "xmlrpc.php", :rel => "pingback"}/
%link{:href => "http://playersclothing.com/feed/", :rel => "alternate", :title => "Players Clothing &raquo; Feed", :type => "application/rss+xml"}/
%link{:href => "http://playersclothing.com/comments/feed/", :rel => "alternate", :title => "Players Clothing &raquo; Comments Feed", :type => "application/rss+xml"}/
/ CataBlog 1.6.3 LightBox Styles | http://catablog.illproductions.com/
%link{:href => "http://playersclothing.com/xmlrpc.php?rsd", :rel => "EditURI", :title => "RSD", :type => "application/rsd+xml"}/
%link{:href => "http://playersclothing.com/wp-includes/wlwmanifest.xml", :rel => "wlwmanifest", :type => "application/wlwmanifest+xml"}/
%link{:href => "http://playersclothing.com/blog/", :rel => "prev", :title => "BLOG"}/
%link{:href => "http://playersclothing.com/whats-new/outfit-of-the-week/", :rel => "next", :title => "OUTFIT OF THE WEEK"}/
%link{:href => "http://playersclothing.com/", :rel => "canonical"}/
