%head{:profile => "http://gmpg.org/xfn/11"}
  %title Players Men's Clothing | Lodo, Denver | Home: Men's casual, relaxed &amp; business casual clothing
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  = haml :main_style_sheets
  = haml :main_js
  = haml :main_no_sense
