%link{:href => "http://playersclothing.com/wp-content/themes/playersclothing/style.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "http://playersclothing.com/wp-content/themes/playersclothing/styles/nivo-slider.css", :rel => "stylesheet", :type => "text/css"}/
%link#catablog-stylesheet-css{:href => "http://playersclothing.com/wp-content/plugins/catablog/css/catablog.css?ver=1.6.3", :media => "all", :rel => "stylesheet", :type => "text/css"}/
:css
  .catablog-row {min-height:210px; height:auto !important; height:210px;} .catablog-image {width:150px;} .catablog-title {margin:0 0 0 160px !important;} .catablog-description {margin:0 0 0 160px; !important} .catablog-images-column {width:150px;}  .catablog-gallery.catablog-row {width:150px; height:210px;} .catablog-gallery.catablog-row .catablog-image {width:150px; height:210px;} .catablog-gallery.catablog-row .catablog-image img {width:150px; height:210px;} .catablog-gallery.catablog-row .catablog-title {width:140px;}
