%script{:src => "http://playersclothing.com/wp-content/themes/playersclothing/scripts/nivo-slider/jquery-1.4.3.min.js", :type => "text/javascript"}
%script{:src => "http://playersclothing.com/wp-content/themes/playersclothing/scripts/nivo-slider/jquery.nivo.slider.pack.js", :type => "text/javascript"}
#slider.nivoSlider{:align => "center"}
  %img{:alt => "Players Clothing: HOME", :height => "452", :src => "http://playersclothing.com/wp-content/themes/playersclothing/images/home/players-clothing-store-1.jpg", :style => "display:none", :title => "", :width => "915"}/
  %img{:alt => "Players Clothing: HOME", :height => "452", :src => "http://playersclothing.com/wp-content/themes/playersclothing/images/home/players-clothing-agave-12-sp.jpg", :style => "display:none", :title => "", :width => "915"}/
  %img{:alt => "Players Clothing: HOME", :height => "452", :src => "http://playersclothing.com/wp-content/themes/playersclothing/images/home/players-clothing-store-2.jpg", :style => "display:none", :title => "", :width => "915"}/
  %img{:alt => "Players Clothing: HOME", :height => "452", :src => "http://playersclothing.com/wp-content/themes/playersclothing/images/home/players-clothing-robert-graham-12-sp.jpg", :style => "display:none", :title => "", :width => "915"}/
/ id="slider"
