.weekly_styles
  %form{:action => "/admin/update_outfit_of_the_week", :method => "POST"}
  %input{:placeholder => "date"}
  %br
  %input{:type => "file"}
  %br
  %input{:type => "submit"}

  %br
  %a{:href => "/admin/dashboard"} Temporary shortcut to dashboard
