%form{:action => "/admin/update_what_we_do", :method => "POST"}
  %input{:placeholder => "Title"}
  %br
  %textarea{:placeholder => "Description"}
  %br
  %input{:type => "file"}
  %br
  %input{:type => "submit"}

  %br
  %a{:href => "/admin/update_dashboard"} Temporary shortcut to dashboard
