- if session[:user] == "player"
  %form{:action => "/admin/update_home", :method => "POST", :enctype => 'multipart/form-data'}
    %label Picture 1
    %input#picture-button1{:name => "image", :type => "file"}
    %br
    %button{:type => "submit"} Save image
    %a{:href => "/admin/update_dashboard"} Temporary shortcut to dashboard
- else
  = haml :not_here
