- if session[:user] == "player"
  %form{:action => "/admin/update_schedule", :method => "POST"}
    %input#schedule-input{:name => 'schedule[schedule]', :placeholder => "Schedule"}
    %br
    %input{:type => "submit", :value => "Update Schedule"}


    %br
    %a{:href => "/admin/update_dashboard"} Temporary shortcut to dashboard
- else
  = haml :not_here
