#post-8.post-8.page.type-page.status-publish.hentry
  %h1.entry-title
.entry-content
  .aha_left_text
    %h1
      =@front_view.title
    %div
      =@front_view.description
  .aha_right_picture
    %img{:src => "/images/#{@front_view.image_file}", :width => "656", :height => "453"}
