-# -# = @form_view = FrontView[params[:id].to_i]
-# -# = @front_view.set_fields(params[:front_view], [:title, :description, :image_file])
-# .front_view
-#   %h1= "#{front_view.title}"
-#   %p
-#     %strong Phone:
-#     = @front_view.description
-#   %p
-#     %strong Email:
-#     = @front_view.image_file
